<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		
		<add key="serverSocket" value="172.20.60.22:12345"/>	<!--implemented-->
	
		<add key="startWithWindows" value="false"/>				<!--not implemented-->
		<add key="startMinimized" value="false"/>				<!--not implemented-->
		
		<add key="darkMode" value="false"/>						<!--implemented-->
		<add key="theme" value="Indigo with Pink Accent"/>		<!--implemented-->
		
		<add key="downloadSharedFileLocation" value=""/>		<!--implemented-->
		<add key="peersUpoading" value="2"/>					<!--implemented-->
		<add key="peersDownloading" value="1"/>					<!--implemented-->
		
	</appSettings>
	
</configuration>