<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<trackerSettings>
		<add key="serverSocket" value="172.20.60.22:12345"/>	<!--implemented-->
	</trackerSettings>
	<clientSettings>
		<startupSettings>
			<add key="startWithWindows" value="false"/>			<!--not implemented-->
			<add key="startMinimized" value="false"/>			<!--not implemented-->
		</startupSettings>
		<themeSettings>
			<add key="darkMode" value="false"/>					<!--not implemented-->
			<add key="theme" value="limeWithPurpleAccent"/>		<!--not implemented-->
		</themeSettings>
		<peerSettings>
			<add key="downloadSharedFileLocation" value="?"/>	<!--not-implemented-->
			<add key="peersUpoading" value="2"/>				<!--implemented-->
			<add key="peersDownloading" value="1"/>				<!--not implemented-->
		</peerSettings>
	</clientSettings>
</configuration>